.card {
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.05, 1.05);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.member-icons {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons {
  bottom: 30%;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}
